// Logo Style
// .main-menu .navbar-header .navbar-brand .brand-logo img {
//     max-width: 155px;
// 	height: auto;
// }

// COMPLETE BODY HOVER TEXT COLOR
a:hover * {
    color: black;
    text-decoration: none;
//     background-color: transparent;
 }
 // Table Col text COLOR
 .dark-layout .react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol div{
    color: #fff;

}

.dropdown-item {
    padding: 1rem 2.2rem;
    clear: both;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}

.dark-layout .dropdown-menu {
    background-color: #fff;
}

// Settings button prefrence BG Color

.dark-layout h1, .dark-layout h2, .dark-layout h3, .dark-layout h4, .dark-layout h5, .dark-layout h6 {
    color: black;
}

button.btn-icon.btn-round.btn.btn-primary.btn-lg{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

// Vertical Navbar menu's padding and color

.main-menu.menu-dark .navigation > li ul li ul a {
    padding: 10px 0px 10px 5px;
}

.main-menu.menu-dark .navigation > li ul li > a {
    padding: 10px 0px 10px 10px;
}

// .main-menu.menu-dark .navigation li a {
//     padding: 10px 15px 10px 15px;
// }


.dark-layout .main-menu-content .navigation-main .nav-item.open > a {
    background-color: #78909c !important;
}

// .main-menu.menu-dark .navigation > li > a {
//     margin: 0 15px;
//     margin-top: 0px;
//     margin-right: 15px;
//     margin-bottom: 0px;
//     margin-left: 15px;
// }

// Main menu's vertical navbar 

 .main-menu.menu-dark .navigation > li > a {
    margin: 0 8px;
}

 .main-menu.menu-dark .navigation li a {
    padding: 10px 15px 10px 15px;
}
// Modal Content box sizing
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150%;
    pointer-events: auto;
    outline: 0;
   }
   @media only screen and (max-width: 1199px) {
    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100% !important;
        pointer-events: auto;
        outline: 0;
       }
  }
  